@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
@media(max-width: 800px){
    .footer1, .footer2, .footer3{
        display:block;
        color:white; 
        padding:0px;
        margin: 15px;
    } 
}
@media(max-width: 800px){
    .footer4{
        display:block;
        
         font-size: 36px;
    width: 80%;
    top: 40px;
    padding: 18px 20px 18px 20px;
    } 
}
@media(max-width: 800px){
    .footer5{
        display:block;
        color:white; 
        padding:0px;
        margin: 15px;
    } 
}